/* CSS declarations go here */


.area.confidence {
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.palette {
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
    margin: 4px 2px 4px 2px;
    padding: 4px;
    background: #fff;
    border: solid 1px #aaa;
}

.swatchColour {
    cursor: pointer;
    display: inline-block;
    margin: 4px 0 4px 6px;
    padding: 4px;
    width: 80px;
    height: 50px;
    border: solid 1px #aaa;
}


.swatch {
    display: block;
    vertical-align: middle;
    width: 44px;
    height: 18px;
}

.swatchLarge {
    display: block;
    vertical-align: middle;
    width: 44px;
    height: 18px;
}

.palette-container {
    max-width: 45px;
    margin-top: 120px;
    margin-left: 50px;
    padding: 2px;
    float: left;

}


body {
    font: 10px sans-serif;
    margin: 0;
}

path.line {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

path.lineTwo {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}


path.area {
    fill: #e7e7e7;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis line {
    stroke: #fff;
}

.x.axis .minor {
    stroke-opacity: .5;
}

.x.axis path {
    display: none;
}

.y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
}
.guideline {
    margin-right: 100px;
    float: right;
}
